# Project: Bangalore House Price Prediction Model

In [1]:
# Importing necessary libraries

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
import re
warnings.filterwarnings("ignore")

In [2]:
# reading the excel dataset

df = pd.read_excel("raw_data.xlsx")

In [3]:
# checking first 5 columns

df.head()

,Unnamed: 0,title,price,size,price_per_sqft,status
0,0,3 BHK Apartment in CasaGrand Casagrand Meridian,1.18 Cr,2037,"5,793 / sq ft",Under Construction
1,1,2 BHK Apartment in Shree Nandana Elite,57.56 L,1240,"4,642 / sq ft",Under Construction
2,2,Residential Plot in Saroj Whispering Winds,32.3 L,2000,"1,615 / sq ft",New
3,3,3 BHK Apartment in Navami Landmaark,1.33 Cr,1641,"8,133 / sq ft",Under Construction
4,4,2 BHK Apartment in V Venture EVA,55.32 L,957,"5,787 / sq ft",Ready to move

In [4]:
# checking the last 5 columns

df.tail()

,Unnamed: 0,title,price,size,price_per_sqft,status
74203,74202,5 Bedroom Built-up Area in Whitefield,23100000,3453,6689.834926,NaN
74204,74203,4 BHK Super built-up Area in Richards Town,40000000,3600,11111.111111,NaN
74205,74204,2 BHK Built-up Area in Raja Rajeshwari Nagar,6000000,1141,5258.545136,NaN
74206,74205,4 BHK Super built-up Area in Padmanabhanagar,48800000,4689,10407.336319,NaN
74207,74206,1 BHK Super built-up Area in Doddathoguru,1700000,550,3090.909091,NaN

In [5]:
# cheking the shape of the dataset

df.shape

(74208, 6)

In [6]:
# removing the unnecessary column Unnamed: 0 and status

df = df.drop(['Unnamed: 0', 'status'], axis=1)

In [7]:
df.head(3)

,title,price,size,price_per_sqft
0,3 BHK Apartment in CasaGrand Casagrand Meridian,1.18 Cr,2037,"5,793 / sq ft"
1,2 BHK Apartment in Shree Nandana Elite,57.56 L,1240,"4,642 / sq ft"
2,Residential Plot in Saroj Whispering Winds,32.3 L,2000,"1,615 / sq ft"

In [8]:
# getting the overall statistics of our data

df.describe()

                   title             price   size price_per_sqft
count              74208             74208  73612          58445
unique             14196              9190   6560          16775
top     Residential Plot  Price on Request  1200   5,500 / sq ft
freq                3294               446   5377            395

In [9]:
# getting the overall information about the data

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 74208 entries, 0 to 74207
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           74208 non-null  object
 1   price           74208 non-null  object
 2   size            73612 non-null  object
 3   price_per_sqft  58445 non-null  object
dtypes: object(4)
memory usage: 2.3+ MB

## Data Cleaning and Preprocessing

In [10]:
# checking for duplicates in the data

df.duplicated().sum()

27269

In [11]:
# dropping the duplicated datas

df = df.drop_duplicates()

In [12]:
# resetting the index of the DataFrame

df.reset_index(drop=True, inplace=True)

In [13]:
df.duplicated().sum()

0

In [14]:
# checking for null values

df.isnull().sum()

title                0
price                0
size               585
price_per_sqft    6793
dtype: int64

### Note
- It is clearly noticable that size, price_per_sqft and status columns have empty data in them.
- So we will need to remove those empty data so that our ML model works efficiently

### Filling up the null values in the size column

In [15]:
#replacing the " sqrt" term from the size column

df['size'] = df['size'].str.replace(' sqft| Sq.Ft.', '')

In [16]:
df['size']

0        2037
1        1240
2        2000
3        1641
4         957
         ...
46934      NaN
46935      NaN
46936      NaN
46937      NaN
46938      NaN
Name: size, Length: 46939, dtype: object

In [17]:
# Convert the column to a numeric data type
df['size'] = pd.to_numeric(df['size'], errors='coerce')

# Calculate the mean, excluding NaN values
column_mean = df['size'].mean(skipna=True)

# Checking the mean value
print(column_mean)

1834.322173615451

In [18]:
df['size'].fillna(column_mean, inplace=True)

In [19]:
df.isnull().sum()

title                0
price                0
size                 0
price_per_sqft    6793
dtype: int64

### Converting word price to numeric values

In [20]:
df['price'] = df['price'].astype(str)

In [21]:
df['price'] = df['price'].str.replace('₹', '')

In [22]:
def convert_value(value):
    if 'Cr' in value:
        return float(value.replace(' Cr', '')) * 10000000
    elif 'Lac' in value:
        return float(value.replace(' Lac', '')) * 100000
    elif 'L' in value:
        return float(value.replace(' L', '')) * 100000
    elif 'ac' in value:
        return float(value.replace('ac', '')) * 100000
    elif 'Call for Price' in value:
        return float(value.replace('Call for Price', '0')) * 0
    elif 'Price on Request' in value:
        return float(value.replace('Price on Request', '0')) * 0
    else:
        return float(value)

pd.options.display.float_format = '{:.2f}'.format
df['price'] = df['price'].apply(convert_value)

In [23]:
df.head(3)

,title,price,size,price_per_sqft
0,3 BHK Apartment in CasaGrand Casagrand Meridian,11800000.00,2037.00,"5,793 / sq ft"
1,2 BHK Apartment in Shree Nandana Elite,5756000.00,1240.00,"4,642 / sq ft"
2,Residential Plot in Saroj Whispering Winds,3230000.00,2000.00,"1,615 / sq ft"

In [24]:
# df.info()

### Preprocessing the price_per_sqft column of the DataFrame

In [25]:
#removing the unnecessary symbols

df['price_per_sqft'] = df['price_per_sqft'].str.replace(' / sq ft', '')
df['price_per_sqft'] = df['price_per_sqft'].str.replace(' per sqft', '')
df['price_per_sqft'] = df['price_per_sqft'].str.replace('₹', '')
df['price_per_sqft'] = df['price_per_sqft'].str.replace(',', '')

In [26]:
#calculating the price_per_sqft to fill in the null values

def calculate_price_per_sqft(row):
    if pd.isna(row['price_per_sqft']):
        if row['price'] == 0:
            return 0
        else:
            return row['price'] / row['size']
    else:
        return row['price_per_sqft']

pd.options.display.float_format = '{:.2f}'.format
df['price_per_sqft'] = df.apply(calculate_price_per_sqft, axis=1)

In [27]:
#converting price_per_sqft to float Dtype

df['price_per_sqft']=df['price_per_sqft'].astype(float)

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46939 entries, 0 to 46938
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           46939 non-null  object
 1   price           46939 non-null  float64
 2   size            46939 non-null  float64
 3   price_per_sqft  46939 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.4+ MB

- <b><i> after bringing all the data to the standard format, we will check for duplicates again </i> </b>

In [29]:
df.duplicated().sum()

1201

In [30]:
# dropping the duplicates
df = df.drop_duplicates()

### Saving the processed and clean data into another excel sheet

In [31]:
# df.to_excel('processed_data.xlsx')